.container {
  padding: 50px;
}
.lines {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}
.lines:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto 20%;
}
.lines:before {
  margin-right: 10px;
}
.lines:after {
  margin-left: 10px;
}
