:root {
  --primary: #f76200;
}

.btn {
  padding: 8px 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--primary);
}

.btn:hover {
  padding: 8px 8px;
  transition: all 0.3s ease-out;
  background-color: #f76200;
  color: rgb(102, 102, 102);
}
@media screen and (max-width: 540px) {
  .btn {
    font-size: 10px;
  }
}
